body{
  height: 100%;
  
}

/*   Home   */

.container-login{
 position: absolute;
 width: 100%;
 height: 100vh;
 top: 0;
 background: rgb(58,92,222);
background: linear-gradient(90deg, rgba(58,92,222,1) 0%, rgba(58,162,97,1) 100%);
}
.login-card{
  background-color: white;
  width: 99%;
  height: auto;
  margin: auto;
  position: relative;
  padding: 30px;
}
.portada-home{
  height: 100%  !important; 
  width: 100%;
  position: relative;
}
.portada-home img{
  width: 100%;
  position: relative;
}


.agenda-container{
  margin-left: 5%;
  margin-right: 5%;
}


.loading{
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.loading img{
  margin: auto;
  height: 150px;
  display: block;
}

.navCli{
  background-color: white !important;
  border-bottom: 10px solid rgb(49, 154, 65);
}

.navCli a{
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black !important
}
.navCli a:hover{
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: cadetblue;
  border-radius: 4px;
  color: white !important
}

.navbar-toggler{
  background-color: cadetblue;
}

.canvas-container{
  height: 600px;
  color: #985555;
}

.echarts-for-react{
  height: 600px !important;
}

.total{
  height: auto;
  padding: 10px;
  width: 100%;
  background: rgb(63,132,89);
  background: linear-gradient(47deg, rgba(63,132,89,1) 0%, rgba(64,108,186,0.9284664549413515) 100%);
  position: relative;
  border-radius: 5px ;
  margin: auto;
}
.total tbody{
  color: white;
}
.totalestable h6{
  display: inline-block;
  align-content: center;
  text-align: center;
  margin-right: 20px;
}
.totalestable{
  text-align: center;
}
.total h6{
  color: white;
  text-align: center;
}
.total h5{
  color: white;
  text-align: center;
}
.total h1{
  color: white;
  text-align: center;
}